
config.json
node_modules/.bin/acorn
node_modules/.bin/acorn.cmd
*.ps1
node_modules/.bin/detect-libc
*.cmd
*.md
*.ttf
*.png
*.json
*.ts
*.js
*.yml
*.h
*.c
*.txt
*.s
*.mk
*.m4
node_modules/@babel/highlight/LICENSE
node_modules/.bin/js-yaml
*.flow
*.otf
*.jpg
node_modules/@babel/highlight/node_modules/chalk/license
*.html
*.filters
*.map
*.jst
*.def
*.dll
*.tlog
*.obj
*.cc
*.BSD
*.flf
node_modules/qs/test/.eslintrc
*.bak
*.php
*.htm
node_modules/fs-minipass/LICENSE
node_modules/fs-extra/node_modules/jsonfile/LICENSE
node_modules/fs-extra/LICENSE
node_modules/formidable/LICENSE
node_modules/form-data/License
node_modules/follow-redirects/LICENSE
node_modules/flatted/LICENSE
node_modules/flat-cache/node_modules/rimraf/LICENSE
node_modules/flat-cache/node_modules/.bin/rimraf
node_modules/flat-cache/LICENSE
node_modules/file-entry-cache/LICENSE
node_modules/figlet/test/expected/wrapWordThreeLines
node_modules/figlet/test/expected/wrapWord
node_modules/figlet/test/expected/wrapWhitespaceLogString
node_modules/figlet/test/expected/wrapWhitespaceBreakWord
node_modules/figlet/test/expected/wrapSimpleThreeLines
node_modules/figlet/test/expected/wrapSimple
node_modules/figlet/test/expected/standard
node_modules/figlet/test/expected/graffiti
node_modules/figlet/test/expected/dancingFontReverse
node_modules/figlet/test/expected/dancingFont
node_modules/figlet/test/expected/.gitattributes
node_modules/figlet/.jshintrc
node_modules/fast-safe-stringify/LICENSE
node_modules/fast-json-stable-stringify/LICENSE
node_modules/fast-deep-equal/LICENSE
node_modules/event-target-shim/LICENSE
node_modules/event-target-shim/dist/event-target-shim.mjs
node_modules/estraverse/.jshintrc
node_modules/esrecurse/node_modules/estraverse/.jshintrc
node_modules/esrecurse/.babelrc
node_modules/esquery/node_modules/estraverse/.jshintrc
node_modules/esprima/ChangeLog
node_modules/espree/node_modules/eslint-visitor-keys/LICENSE
node_modules/espree/LICENSE
node_modules/eslint/LICENSE
node_modules/eslint-visitor-keys/LICENSE
node_modules/eslint-utils/node_modules/eslint-visitor-keys/LICENSE
node_modules/eslint-utils/LICENSE
node_modules/eslint-utils/index.mjs
node_modules/eslint-scope/LICENSE
node_modules/escape-string-regexp/license
node_modules/enquirer/LICENSE
node_modules/doctrine/LICENSE.esprima
node_modules/doctrine/LICENSE.closure-compiler
node_modules/doctrine/LICENSE
node_modules/discord-xp/LICENSE
node_modules/gauge/node_modules/ansi-regex/license
node_modules/gauge/LICENSE
node_modules/functional-red-black-tree/LICENSE
node_modules/functional-red-black-tree/.npmignore
node_modules/fs.realpath/LICENSE
node_modules/detect-libc/LICENSE
node_modules/detect-libc/.npmignore
node_modules/denque/LICENSE
node_modules/delegates/Makefile
node_modules/delegates/License
node_modules/delegates/.npmignore
node_modules/delayed-stream/Makefile
node_modules/delayed-stream/License
node_modules/delayed-stream/.npmignore
node_modules/deep-is/README.markdown
node_modules/deep-is/LICENSE
node_modules/deep-is/.npmignore
node_modules/deep-extend/LICENSE
node_modules/decompress-response/license
node_modules/debug/LICENSE
node_modules/dayjs/LICENSE
node_modules/dayjs/.editorconfig
node_modules/crypt/README.mkd
node_modules/crypt/LICENSE.mkd
node_modules/cross-spawn/LICENSE
node_modules/core-util-is/LICENSE
node_modules/core-util-is/float.patch
node_modules/cookiejar/LICENSE
node_modules/console-control-strings/README.md~
node_modules/console-control-strings/LICENSE
node_modules/concat-map/README.markdown
node_modules/concat-map/LICENSE
node_modules/component-emitter/LICENSE
node_modules/combined-stream/yarn.lock
node_modules/combined-stream/License
node_modules/color-name/LICENSE
node_modules/color-name/.npmignore
node_modules/color-convert/LICENSE
node_modules/code-point-at/license
node_modules/chownr/LICENSE
node_modules/charenc/LICENSE.mkd
node_modules/chalk/node_modules/supports-color/license
node_modules/chalk/node_modules/has-flag/license
node_modules/chalk/node_modules/color-name/LICENSE
node_modules/chalk/node_modules/color-convert/LICENSE
node_modules/chalk/node_modules/ansi-styles/license
node_modules/gauge/node_modules/strip-ansi/license
node_modules/gauge/node_modules/string-width/license
node_modules/gauge/node_modules/is-fullwidth-code-point/license
node_modules/chalk/license
node_modules/canvas/node_modules/yallist/LICENSE
node_modules/canvas/node_modules/tar/LICENSE
node_modules/canvas/node_modules/semver/range.bnf
node_modules/canvas/node_modules/semver/LICENSE
node_modules/canvas/node_modules/semver/bin/semver
node_modules/canvas/node_modules/node-pre-gyp/LICENSE
node_modules/canvas/node_modules/node-pre-gyp/bin/node-pre-gyp
node_modules/canvas/node_modules/minizlib/LICENSE
node_modules/canvas/node_modules/minipass/LICENSE
node_modules/canvas/node_modules/fs-minipass/LICENSE
node_modules/canvas/node_modules/chownr/LICENSE
node_modules/canvas/node_modules/.bin/semver
node_modules/canvas/node_modules/.bin/node-pre-gyp
node_modules/canvas/build/Release/obj/canvas/vcpkg.applocal.log
node_modules/canvas/build/Release/canvas.pdb
node_modules/canvas/build/Release/canvas.node
node_modules/canvas/build/Release/canvas.lib
node_modules/canvas/build/Release/canvas.ilk
node_modules/canvas/build/Release/canvas.exp
node_modules/canvas/binding.gyp
node_modules/canvacord/LICENSE
node_modules/callsites/license
node_modules/brace-expansion/LICENSE
node_modules/bluebird/LICENSE
node_modules/bl/.jshintrc
node_modules/balanced-match/.npmignore
node_modules/axios/LICENSE
node_modules/asynckit/LICENSE
node_modules/astral-regex/license
node_modules/has-flag/license
node_modules/graceful-fs/LICENSE
node_modules/globals/license
node_modules/glob/LICENSE
node_modules/glob-parent/LICENSE
node_modules/gifencoder/test/fixtures/out.gif
node_modules/gifencoder/LICENSE
node_modules/gifencoder/examples/myanimated.gif
node_modules/gifencoder/.jshintrc
node_modules/argparse/LICENSE
node_modules/are-we-there-yet/LICENSE
node_modules/aproba/LICENSE
node_modules/ansi-styles/license
node_modules/ansi-regex/license
node_modules/ansi-colors/LICENSE
node_modules/amethyste-api/node_modules/follow-redirects/LICENSE
node_modules/amethyste-api/node_modules/debug/Makefile
node_modules/amethyste-api/node_modules/debug/LICENSE
node_modules/amethyste-api/node_modules/debug/.npmignore
node_modules/amethyste-api/node_modules/debug/.eslintrc
node_modules/amethyste-api/node_modules/axios/LICENSE
node_modules/amethyste-api/.idea/workspace.xml
node_modules/aki-api/LICENSE
node_modules/aki-api/.gitattributes
node_modules/ajv/scripts/travis-gh-pages
node_modules/ajv/scripts/publish-built-version
node_modules/ajv/scripts/prepare-tests
node_modules/ajv/scripts/info
node_modules/ajv/LICENSE
node_modules/acorn/LICENSE
node_modules/acorn/dist/acorn.mjs
node_modules/acorn/bin/acorn
node_modules/acorn-jsx/LICENSE
node_modules/abort-controller/polyfill.mjs
node_modules/abort-controller/LICENSE
node_modules/abort-controller/dist/abort-controller.mjs
node_modules/abort-controller/browser.mjs
node_modules/abbrev/LICENSE
node_modules/@types/node/LICENSE
node_modules/@types/mongodb/LICENSE
node_modules/@types/bson/LICENSE
node_modules/@extreme_hero/deeptype/.eslintrc
node_modules/@extreme_hero/deeptype/.eslintignore
node_modules/@eslint/eslintrc/LICENSE
node_modules/@discordjs/opus/prebuild/node-v72-napi-v3-win32-x64-unknown-unknown/opus.node
node_modules/@discordjs/opus/prebuild/node-v72-napi-v3-win32-x64-unknown-unknown/opus.lib
node_modules/@discordjs/opus/deps/opus/ChangeLog
node_modules/@discordjs/opus/deps/opus/compile
node_modules/@discordjs/opus/deps/opus/config.guess
node_modules/@discordjs/opus/deps/opus/config.h.cmake.in
node_modules/@discordjs/opus/deps/opus/config.h.in
node_modules/@discordjs/opus/deps/opus/config.sub
node_modules/@discordjs/opus/deps/opus/configure
node_modules/@discordjs/opus/deps/opus/configure.ac
node_modules/@discordjs/opus/deps/opus/COPYING
node_modules/@discordjs/opus/deps/opus/depcomp
node_modules/@discordjs/opus/deps/opus/doc/customdoxygen.css
node_modules/@discordjs/opus/deps/opus/doc/Doxyfile.in
node_modules/@discordjs/opus/deps/opus/doc/Makefile.am
node_modules/@discordjs/opus/deps/opus/doc/Makefile.in
node_modules/@discordjs/opus/deps/opus/doc/opus_logo.svg
node_modules/@discordjs/opus/deps/opus/doc/TODO
node_modules/@discordjs/opus/deps/opus/INSTALL
node_modules/@discordjs/opus/deps/opus/install-sh
node_modules/@discordjs/opus/deps/opus/ltmain.sh
node_modules/@discordjs/opus/deps/opus/Makefile.am
node_modules/@discordjs/opus/deps/opus/Makefile.in
node_modules/@discordjs/opus/deps/opus/Makefile.mips
node_modules/@discordjs/opus/deps/opus/Makefile.unix
node_modules/@discordjs/opus/deps/opus/missing
node_modules/@discordjs/opus/deps/opus/NEWS
node_modules/@discordjs/opus/deps/opus/opus-uninstalled.pc.in
node_modules/@discordjs/opus/deps/opus/opus.pc.in
node_modules/@discordjs/opus/deps/opus/opus_config.cmake
node_modules/@discordjs/opus/deps/opus/opus_functions.cmake
node_modules/@discordjs/opus/deps/opus/opus_sources.cmake
node_modules/@discordjs/opus/deps/opus/OpusConfig.cmake.in
node_modules/@discordjs/opus/deps/opus/package_version
node_modules/@discordjs/opus/deps/opus/README
node_modules/@discordjs/opus/deps/opus/test-driver
node_modules/@discordjs/opus/deps/opus/tests/run_vectors.sh
node_modules/@discordjs/opus/deps/opus/win32/genversion.bat
node_modules/@discordjs/opus/deps/opus/win32/VS2015/common.props
node_modules/@discordjs/opus/deps/opus/win32/VS2015/opus.sln
node_modules/@discordjs/opus/deps/opus/win32/VS2015/opus.vcxproj
node_modules/@discordjs/opus/deps/opus/win32/VS2015/opus_demo.vcxproj
node_modules/@discordjs/opus/deps/opus/win32/VS2015/test_opus_api.vcxproj
node_modules/@discordjs/opus/deps/opus/win32/VS2015/test_opus_decode.vcxproj
node_modules/@discordjs/opus/deps/opus/win32/VS2015/test_opus_encode.vcxproj
node_modules/@discordjs/opus/LICENSE
node_modules/@discordjs/opus/prebuild/node-v72-napi-v3-win32-x64-unknown-unknown/opus.exp
node_modules/@discordjs/opus/prebuild/node-v72-napi-v3-win32-x64-unknown-unknown/opus.ilk
node_modules/has-unicode/LICENSE
node_modules/iconv-lite/LICENSE
node_modules/ignore-walk/LICENSE
node_modules/ignore/LICENSE-MIT
node_modules/import-fresh/license
node_modules/inflight/LICENSE
node_modules/inherits/LICENSE
node_modules/ini/LICENSE
node_modules/is-buffer/LICENSE
node_modules/is-extglob/LICENSE
node_modules/is-fullwidth-code-point/license
node_modules/is-glob/LICENSE
node_modules/isarray/.npmignore
node_modules/isarray/Makefile
node_modules/isexe/.npmignore
node_modules/isexe/LICENSE
node_modules/js-tokens/LICENSE
node_modules/js-yaml/LICENSE
node_modules/json-schema-traverse/LICENSE
node_modules/json-stable-stringify-without-jsonify/.npmignore
node_modules/json-stable-stringify-without-jsonify/LICENSE
node_modules/json-stable-stringify-without-jsonify/readme.markdown
node_modules/jsonfile/LICENSE
node_modules/kareem/LICENSE
node_modules/kareem/Makefile
node_modules/levn/LICENSE
node_modules/lodash/LICENSE
node_modules/m3u8stream/LICENSE
node_modules/md5/LICENSE
node_modules/memory-pager/LICENSE
node_modules/methods/LICENSE
node_modules/mime-db/LICENSE
node_modules/mime-types/LICENSE
node_modules/superagent/node_modules/readable-stream/LICENSE
node_modules/superagent/Makefile
node_modules/superagent/LICENSE
node_modules/superagent/docs/style.css
node_modules/superagent/.remarkignore
node_modules/superagent/.lib.eslintrc
node_modules/superagent/.lib.babelrc
node_modules/superagent/.gitattributes
node_modules/superagent/.editorconfig
node_modules/superagent/.dist.eslintrc
node_modules/superagent/.dist.babelrc
node_modules/superagent/.browserslistrc
node_modules/strip-json-comments/license
node_modules/strip-ansi/license
node_modules/string_decoder/node_modules/safe-buffer/LICENSE
node_modules/string_decoder/LICENSE
node_modules/string-width/node_modules/is-fullwidth-code-point/license
node_modules/string-width/license
node_modules/sprintf-js/LICENSE
node_modules/sprintf-js/.npmignore
node_modules/sparse-bitfield/LICENSE
node_modules/sparse-bitfield/.npmignore
node_modules/sliced/LICENSE
node_modules/slice-ansi/node_modules/is-fullwidth-code-point/license
node_modules/slice-ansi/node_modules/color-name/LICENSE
node_modules/slice-ansi/node_modules/color-convert/LICENSE
node_modules/slice-ansi/node_modules/ansi-styles/license
node_modules/slice-ansi/license
node_modules/simple-get/LICENSE
node_modules/simple-concat/LICENSE
node_modules/sift/yarn.lock
node_modules/sift/coverage/lcov.info
node_modules/sift/.babelrc
node_modules/shebang-regex/license
node_modules/shebang-command/license
node_modules/semver/range.bnf
node_modules/semver/LICENSE
node_modules/sax/LICENSE
node_modules/saslprep/LICENSE
node_modules/saslprep/code-points.mem
node_modules/saslprep/.gitattributes
node_modules/saslprep/.editorconfig
node_modules/safer-buffer/LICENSE
node_modules/safe-buffer/LICENSE
node_modules/rimraf/LICENSE
node_modules/resolve-from/license
node_modules/mquery/node_modules/debug/LICENSE
node_modules/mquery/node_modules/debug/Makefile
node_modules/mquery/node_modules/safe-buffer/LICENSE
node_modules/needle/bin/needle
node_modules/needle/node_modules/debug/LICENSE
node_modules/node-addon-api/.editorconfig
node_modules/node-addon-api/benchmark/binding.gyp
node_modules/node-addon-api/common.gypi
node_modules/node-addon-api/doc/Doxyfile
node_modules/node-addon-api/except.gypi
node_modules/node-addon-api/node_api.gyp
node_modules/node-addon-api/noexcept.gypi
node_modules/node-fetch/lib/index.mjs
node_modules/node-superfetch/node_modules/form-data/License
node_modules/nopt/LICENSE
node_modules/npm-bundled/LICENSE
node_modules/npm-normalize-package-bin/.npmignore
node_modules/npm-normalize-package-bin/LICENSE
node_modules/npm-packlist/LICENSE
node_modules/npmlog/LICENSE
node_modules/number-is-nan/license
node_modules/object-assign/license
node_modules/once/LICENSE
node_modules/optionator/LICENSE
node_modules/os-homedir/license
node_modules/os-tmpdir/license
node_modules/osenv/LICENSE
node_modules/parent-module/license
node_modules/path-is-absolute/license
node_modules/path-key/license
node_modules/prelude-ls/LICENSE
node_modules/prism-media/LICENSE
node_modules/progress/LICENSE
node_modules/progress/Makefile
node_modules/qs/.editorconfig
node_modules/qs/.eslintignore
node_modules/qs/.eslintrc
node_modules/rc/LICENSE.APACHE2
node_modules/rc/LICENSE.MIT
node_modules/rc/node_modules/strip-json-comments/license
node_modules/readable-stream/LICENSE
node_modules/readable-stream/node_modules/safe-buffer/LICENSE
node_modules/regexp-clone/LICENSE
node_modules/regexp-clone/Makefile
node_modules/regexpp/index.mjs
node_modules/regexpp/LICENSE
node_modules/require_optional/.npmignore
node_modules/require_optional/LICENSE
node_modules/require_optional/node_modules/resolve-from/license
node_modules/require_optional/node_modules/semver/bin/semver
node_modules/require_optional/node_modules/semver/LICENSE
node_modules/require_optional/node_modules/semver/range.bnf
node_modules/supports-color/license
node_modules/table/LICENSE
node_modules/tar/LICENSE
node_modules/tar/node_modules/.bin/mkdirp
node_modules/tar/node_modules/mkdirp/LICENSE
node_modules/tar/node_modules/mkdirp/readme.markdown
node_modules/text-table/LICENSE
node_modules/text-table/readme.markdown
node_modules/tweetnacl/LICENSE
node_modules/twemoji/LICENSE
node_modules/twemoji/LICENSE-GRAPHICS
node_modules/type-check/LICENSE
node_modules/type-fest/license
node_modules/universalify/LICENSE
node_modules/uri-js/LICENSE
node_modules/uri-js/yarn.lock
node_modules/util-deprecate/LICENSE
node_modules/v8-compile-cache/LICENSE
node_modules/which/bin/node-which
node_modules/which/LICENSE
node_modules/wide-align/LICENSE
node_modules/wide-align/node_modules/ansi-regex/license
node_modules/wide-align/node_modules/string-width/license
node_modules/wide-align/node_modules/strip-ansi/license
node_modules/word-wrap/LICENSE
node_modules/wrappy/LICENSE
node_modules/ws/LICENSE
node_modules/yallist/LICENSE
node_modules/ytdl-core/LICENSE
node_modules/mquery/node_modules/debug/.npmignore
node_modules/mquery/node_modules/debug/.eslintrc
node_modules/mquery/Makefile
node_modules/mquery/LICENSE
node_modules/mquery/.eslintignore
node_modules/mpath/Makefile
node_modules/mpath/LICENSE
node_modules/mpath/bench.out
node_modules/mpath/bench.log
node_modules/mongoose-legacy-pluralize/LICENSE
node_modules/mongodb/lib/async/.eslintrc
node_modules/moment/LICENSE
node_modules/moment-duration-format/test/vendor/qunit.css
node_modules/moment-duration-format/LICENSE
node_modules/mkdirp/readme.markdown
node_modules/mkdirp/LICENSE
node_modules/minizlib/LICENSE
node_modules/minipass/LICENSE
node_modules/minimist/readme.markdown
node_modules/minimist/LICENSE
node_modules/minimatch/LICENSE
node_modules/miniget/LICENSE
node_modules/mimic-response/license
node_modules/mime/LICENSE
node_modules/@discordjs/opus/deps/opus/celt/arm/armopts.s.in
node_modules/@discordjs/opus/deps/opus/celt/arm/arm2gnu.pl
node_modules/@discordjs/opus/deps/opus/AUTHORS
node_modules/@discordjs/opus/deps/binding.gyp
node_modules/@discordjs/opus/binding.gyp
node_modules/@discordjs/opus/.gitattributes
node_modules/@discordjs/node-pre-gyp/node_modules/rimraf/LICENSE
node_modules/@discordjs/node-pre-gyp/node_modules/.bin/rimraf
node_modules/@discordjs/node-pre-gyp/LICENSE
node_modules/@discordjs/node-pre-gyp/bin/node-pre-gyp
node_modules/@discordjs/node-pre-gyp/.gitattributes
node_modules/@discordjs/form-data/License
node_modules/@discordjs/collection/LICENSE
node_modules/@babel/helper-validator-identifier/LICENSE
node_modules/@babel/code-frame/LICENSE
node_modules/.bin/rc
node_modules/.bin/nopt
node_modules/.bin/node-pre-gyp
node_modules/.bin/needle
node_modules/.bin/mkdirp
node_modules/.bin/mime
node_modules/.bin/esvalidate
node_modules/.bin/esparse
node_modules/.bin/eslint
